#root {
	max-width: 1280px;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.unselectable {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none;
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.container {
	position: relative;
	width: 100%;
	max-width: 100%;
}

.cop-marker {
	width: 20px;
	height: 20px;
	background-color: blue;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.center-cop-marker {
	background-color: red;
}

@keyframes jumbo {
	from {
		background-position:
			50% 50%,
			50% 50%;
	}
	to {
		background-position:
			350% 50%,
			350% 50%;
	}
}

.jumbo {
	--stripes: repeating-linear-gradient(100deg, #0f172a 0%, #0f172a 7%, transparent 10%, transparent 12%, #0f172a 16%);
	--stripesDark: repeating-linear-gradient(100deg, #0f172a 0%, #0f172a 7%, transparent 10%, transparent 12%, #0f172a 16%);
	--rainbow: repeating-linear-gradient(100deg, #60a5fa 10%, #e879f9 15%, #60a5fa 20%, #5eead4 25%, #60a5fa 30%);
	background-image: var(--stripesDark), var(--rainbow);

	background-size: 300%, 200%;
	background-position:
		50% 50%,
		50% 50%;

	filter: blur(10px) opacity(50%) saturate(200%);

	mask-image: radial-gradient(ellipse at 100% 0%, black 40%, transparent 70%);

	pointer-events: none;
}

.jumbo::after {
	content: '';
	position: absolute;
	inset: 0;
	background-image: var(--stripes), var(--rainbow);
	background-size: 200%, 100%;
	animation: jumbo 60s linear infinite;
	background-attachment: fixed;
	mix-blend-mode: difference;
}

.dark .jumbo {
	background-image: var(--stripesDark), var(--rainbow);
	filter: blur(10px) opacity(50%) saturate(200%);
}
.dark .jumbo::after {
	background-image: var(--stripesDark), var(--rainbow);
}
